<!DOCTYPE html>
<html>
<title>Erika Yi // Data Analyst + Full Stack Developer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="decorate.css">

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#home" class="w3-bar-item w3-button">HOME</a>
            <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
            <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
            </a>
        </div>
    </div>

    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-red w3-xlarge w3-wide w3-animate-opacity" class="w3-hide-small">
                ERIKA YI <img src="images/erika_yi_logo.png" width="150" height="150"> DESIGN</span>
            <!-- <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ERIKA <span class="w3-hide-small">YI</span> DESIGN</span> -->
            <p><span class="copyrightPhoto">Photo by <a
                        href="https://unsplash.com/@eutahm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Eutah
                        Mizushima</a> on <a
                        href="https://unsplash.com/s/photos/woman-back-asian?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </p>
        </div>

    </div>

    <!-- Container (About Section) -->
    <div class="w3-content w3-container w3-padding-64" id="about">
        <h3 class="w3-center">ABOUT ME</h3>
        <p class="w3-center"><em>I dream of coding, and then I code my dream.</em></p>
        <p>
            Erika is a hard-working Data Analyst with proficiency in front-end and back-end web development. 
            She earned a certification in Data Science at Rutgers University Data Science & Visualization Bootcamp, 
            building upon the hours of collaboration with mentors and peers of working with big data sets using Python, Pandas, JavaScript, PostgreSQL, and R. 
            She is a well-driven problem solver who likes to think outside of the box, collaborating with peers and mentors of working big data sets. 
            She is also an experienced designer with a Bachelor of Fine Arts in Design. 
            And she worked as a Graphic Designer at Arc International North America, the world-leading French manufacturer of glassware. 

            She develops mainly B2B and consumer packaging designs and decors for kitchenware and accessories.
        </p>
        <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
                <p><b><i class="fa fa-user w3-margin-right"></i>Erika Yi</b></p><br>
                <img src="images/replace_image.jpg"
                    class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500"
                    height="333">
            </div>

            <!-- Hide this text on small devices -->
            <div class="w3-col m6 w3-hide-small w3-padding-large">
                <p>
                    Welcome to Erika's portfolio site. 
                    She is an Asian-American born in Korea but grew up in New Jersey for most of her life with a love of Japanese games and animation series. 
                    Her hobbies are taking landscape photographs, designing album covers, and creating digital artworks. 
                    She is bilingual in English and Korean with limited proficiency in Japanese. 
                    <!-- Her work is mainly about minimalism and organization.  -->
                </p>
            </div>
        </div>
        <p class="w3-large w3-center w3-padding-16">I'm skillful at:</p>
        <p class="w3-wide"><i class="fa fa-laptop"></i>Python</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
        </div>
        <p class="w3-wide"><i class="fa fa-laptop"></i>Front and Back-end Development</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
        </div>
        <p class="w3-wide"><i class="fa fa-photo"></i>Adobe Creative Suite</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:95%">95%</div>
        </div>
    </div>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <!-- <div class="w3-quarter w3-section">
    <span class="w3-xlarge">14+</span><br>
    Partners
  </div> -->
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">3+</span><br>
            Experiences
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">30+</span><br>
            Projects Done
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">5+</span><br>
            Happy Clients
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">20+</span><br>
            Meetings
        </div>
    </div>

    <!-- Second Parallax Image with Portfolio Text -->
    <div class="bgimg-2 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
        </div>
    </div>

    <!-- Container (Portfolio Section) -->
    <div class="w3-content w3-container w3-padding-64" id="portfolio">
        <h3 class="w3-center">MY WORK</h3>
        <p class="w3-center"><em>Here are some of my latest Data Analytic work.<br> Click on the images to make them
                larger.</em></p><br>

        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div class="w3-row-padding w3-center">
            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="The mist over the mountains">
            </div>

            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="Coffee beans">
            </div>

            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="Bear closeup">
            </div>

            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="Quiet ocean">
            </div>
        </div>

        <div class="w3-row-padding w3-center w3-section">
            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="The mist">
            </div>

            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="My beloved typewriter">
            </div>

            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="Empty ghost train">
            </div>

            <div class="w3-col m3">
                <img src="images/replace_image.jpg" style="width:100%" onclick="onClick(this)"
                    class="w3-hover-opacity" alt="Sailing">
            </div>
            <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">LOAD MORE</button>

        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i
                class="fa fa-remove"></i></span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

    <!-- Third Parallax Image with Portfolio Text -->
    <div class="bgimg-3 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
        </div>
    </div>

    <!-- Container (Contact Section) -->
    <div class="w3-content w3-container w3-padding-64" id="contact">
        <h3 class="w3-center">WHERE I WORK</h3>
        <p class="w3-center"><em>Let's work together, shall we? I also appreciate your feedback!</em></p>

        <div class="w3-row w3-padding-32 w3-section">
            <div class="w3-col m4 w3-container">
                <img src="images/timo-wielink-unsplash.jpg" class="w3-image w3-round" style="width:100%">
                <span class="copyrightPhoto-map">Photo by
                    <a href="https://unsplash.com/@timowielink?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                        Timo Wielink </a> on 
                        <a href="https://unsplash.com/s/photos/map?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                        Unsplash </a>
                </span>
            </div>
            <div class="w3-col m8 w3-panel">
                <div class="w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 
                    New Jersey, US <br>
                    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 
                    Phone: +1 856.449.5868<br>
                    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 
                    Email: erikayidesign@gmail.com<br>
                </div>
                <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
                <form action="/action_page.php" target="_blank">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                    <button class="w3-button w3-black w3-right w3-section" type="submit">
                        <i class="fa fa-paper-plane"></i> SHOOT ME A MESSAGE
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-red w3-padding-64 w3-opacity w3-hover-opacity-off">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Back To the
            top</a>
        <div class="w3-xlarge w3-section">
            <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i> -->
            <!-- <i class="fa fa-instagram w3-hover-opacity"></i> -->
            <!-- <i class="fa fa-snapchat w3-hover-opacity"></i> -->
            <!-- <a href="https://www.pinterest.com/erika_kyi" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a> -->
            <a href="https://www.twitter.com/kiyokarina" title="Twitter" target="_blank"><i
                    class="fa fa-twitter w3-hover-opacity"></i></a>
            <a href="https://www.linkedin.com/in/erikayidesign/" title="LinkedIn" target="_blank"><i
                    class="fa fa-linkedin w3-hover-opacity"></i></a>
            <!-- <a href="https://www.erikayidesign.com" title="Design Portfolio" target="_blank"><i class="fa fa-behance w3-hover-opacity"></i></a> -->
        </div>
        <p>© Erika Yi 2021. All Rights Reserved.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
                class="w3-hover-text-blue">w3.css</a></p>
    </footer>

    <script src="function.js"></script>

</body>

</html>